APP_ENV=dev
LOG_LEVEL=INFO

MUASAMCONG_BASE_URL=https://muasamcong.mpi.gov.vn
MUASAMCONG_TIMEOUT_SECONDS=30

# =========================
# Object Storage - SeaweedFS
# =========================
OBJECT_STORAGE_IMAGE=chrislusf/seaweedfs:4.46

OBJECT_STORAGE_ENDPOINT=http://localhost:8333

OBJECT_STORAGE_ACCESS_KEY=procurement_admin
OBJECT_STORAGE_SECRET_KEY=change_this_to_a_long_random_password

OBJECT_STORAGE_BUCKET=procurement-lakehouse
OBJECT_STORAGE_API_PORT=8333

MUASAMCONG_TOKEN=fake_token